@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

.center{
    text-align: center;
}

.outer{
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.cart{
    border: 1px solid black;
    width: auto;
    margin: 14px;
    border-radius: 12px;
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.18);
-webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.18);
-moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.18);
}

.cart-child img{
    width: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.delete-icon{
    margin-top: 12px;
    cursor: pointer;
}

.react-wa{
    border-radius: 14px;
    margin-top: 20px;
    cursor: pointer;
}

button{
    padding: 15px;
    background-color: #333;
    color: white;
}

button:hover{
    background-color: rgb(22, 22, 22);
}

