.main-box{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}


.box h3{
    text-align: center;
    margin:5px;
    width: 150px;
    height: 150px;
    background-image: url(../img/ads.png);
    background-repeat: no-repeat;
    background-size: cover;
}
