@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Poppins, sans-serif;
}

/* Navbar */

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    background: white;
    padding: 10px;
}

.navbar img{
    width: 100px;
}

.middle{
    display: flex;
}

.middle p{
    margin: 15px;
}

.right{
    display: flex;
}

.right img{
    width: 35px;
    margin-left: 5px;
    cursor: pointer;
}
.middle p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* End Navbar */

/* Content */

.all-products{
    text-align: center;
    margin-top: 5em;
    
}

.main-products input{
    display: relative;
    left: 50%;
}


.products{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 30px;
}

.box{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 20%;
  border: 1px solid black;
  margin: 12px;
  padding-bottom: 20px;
}


.box img{
    width: 70%;
}


/* End Content */

